
.hero_section{
    position: relative;
    height:90vh;
    background-image: url('./images/dan-gold-E6HjQaB7UEA-unsplash.jpg');
    background-repeat: no-repeat;
    object-fit: cover;

}
.hero_section_overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(5, 0, 0, 0.603);
}
.order_form_section{
   /* text-align: right; */
   display:flex;
   justify-content: space-between;
   
    
}
.hero_text{
    margin: 2%;
    /* color:rgb(0, 0, 0); */
    /* font-size: 6rem; */
    /* background-color: rgba(7, 7, 7, 0.699); */
    padding: 2rem;
    width:50rem;
    /* text-align: center; */
    left:0;

}
.hero_text_h{
    font-size: 2rem;
    color:rgb(245, 229, 11);
}
.order_form{
    width:30rem;
    background-color: rgb(3, 1, 1);
    border: none;
    /* justify-self: right; */
    margin-right: 7rem;
    max-height: 35rem;
    margin-top:4rem;
}
.hero_text_p{
    font-size: 1.2rem;
    color: white;
}
.hero_text_img{
    width:30rem;
    animation-name: example;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  position: relative;
  animation-timing-function: ease-in-out;
/* -webkit-animation-timing-function: ease-in-out; */
}
.hero_text_bg{
    background-color: rgba(7, 7, 7, 0.699);
    padding: 2rem;
}
.image_show_section{
    height: 100%;
    background-color: black;
    padding: 7rem 0;

}
.image_container{
    /* margin-top:5rem; */
    padding-top:5rem  ;
}
.image_container{
    display:grid;
    grid-template-columns:2fr 2fr 2fr;
    grid-template-rows:1fr 1fr;
    padding:0 8rem;
    column-gap: 0.5rem;
    row-gap: 8rem;


}
/* .img_item:hover{
    animation-name: anime;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: ease-in-out;
}
.img_pain:hover{
    animation-name: anime;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: ease-in-out;
} */
.img_item{
    max-width: 35rem;
    max-height: 23rem;
   
}
.img-pain{
    width:100%;
    /* height: 80%; */
  
}
.img_text{
    margin-top: 1rem;
}

@keyframes example {
   0%{
    margin-left: 2rem;
    opacity: 0.9;
   }
   50%{
    margin-left: 1rem;
    /* opacity: 0.8; */
    
   }
   100%{
    margin-left: 2rem;
    opacity: 0.8; 
   }
  }
  @keyframes anime {
    0%{
     margin-left: 0.5rem;
     /* opacity: 0.9; */
    }
    50%{
     margin-left: 0.3rem;
     /* opacity: 0.8; */
     
    }
    100%{
     margin-left: 0.5rem;
     /* opacity: 0.8;  */
    }
   }